<!doctype html>
<html lang="en">
<head th:fragment="head">
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta pageEncoding="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/content.css}" rel="stylesheet" media="screen" />
    <link th:href="@{../css/fontawesome/web-fonts-with-css/css/fontawesome-all.css}" rel="stylesheet" />
    <link rel="stylesheet" href="../css/signin.css" th:href="@{../css/signin.css}" >
    <link th:href="@{/css/actionForm.css}" rel="stylesheet" media="screen" />
    <script th:src="@{/js/holder.js}"></script>
    <title>Тестовое задание</title>
</head>
</html>
