<!doctype html>
<html lang="eng"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div class="jumbotron">
    <h1 class="display-4">Стартовая страница</h1>
    <p class="lead">Приложение с использованиеи Spring Boot и др.</p>
    <p class="lead">
        <a class="btn btn-secondary btn-lg my-2 my-sm-0 myButton" href="/homePage" role="button">Войти</a>
    </p>
</div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>